*/.build
*/auto
*/binary
*/cache
*/chroot
*/config
*/local

*/binary.modified_timestamps
*/chroot.packages.install
*/live-image-*

*/*.build-log.txt
*/*.config.tar.bz2
*/*.contents
*/*.md5sums.txt
*/*.modified_timestamps
*/*.packages
*/*.packages.install
*/*.sha1sums.txt
*/*.tar.gz
